<div id='container'>
  <form name='addGoal' ng-submit='add()'>
    <input name='newGoal' type='text' ng-model='newGoal.title'
      placeholder="Set a new goal!" required />
    <button type='submit'>Add</button> 
  </form>
  </form>
  <ul class='goals'>
    <li class='goal' ng-repeat='goal in data.goals'>
      <h3 class='title'>{{ goal.title }}</h3>
      <p class='deadline'>{{ goal.deadline }}</p>
      <p class='progress' ng-repeat='progress in goal.progress'>({{ progress.date }}) {{ progress.log }}</p>
    </li>
  </ul>
</div>
