<div id='container'>
  <form>
    <input name='newGoal' type='text' ng-model='newGoal.title'
      placeholder="Set a new goal!" required />
    <input type='submit' ng-click='addGoal()'>
  </form>
  <ul class='goals'>
    <li>
      displaying goals...
    </li>
    <li class='goal' ng-repeat='goal in goals'>
      <h3 class='title'>{{ goal.title }}</h3>
      <p class='deadline'>{{ goal.deadline }}</p>
      <p class='progress' ng-repeat='progress in goal.progress'>({{ progress.date }}) {{ progress.log }}</p>
    </li>
  </ul>
</div>
